
body{
    background-color:rgb(51, 46, 46);
    /* background-color: white; */
    border: solid rgb(51, 46, 46);
    border-width: thick;
    margin: 0%;
    padding: 0%;
    color:white;
    cursor:  url(Assets/Pokeball.png), auto;
}

header img{
    max-width: 20%;
    max-height: 20%;
    display:inline;
    position: static;
    padding: 0% 40% 0% 40%;
    /* background-color: white; */
    
}
header{
    width: 100%;  
}

h1{
    width: 20%;
    margin-left: 40%;
    text-align: center;   
    border-radius: 4px;
    border: solid 1px rgb(51, 46, 46);
    box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 2px black;
}


ul{
    display: inline-block;
}

li{
    border-radius: 4px;
    border: solid 1px rgb(51, 46, 46);
    box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 2px black;
    list-style-type: none;
    padding: 2%;
    margin: 2%;
    background-color:rgb(51, 46, 46);
    
}



.navBar{
    display: block;
    color: white;
    background-color: rgb(51, 46, 46);
    border-radius: 4px;
    border: solid 1px rgb(51, 46, 46);
    box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 2px black;
    font-size: large;
    text-align:center;
    width:100%;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}

.pokeButton a:link{
    color:black;
}
.pokeButton a:visited{
    color:black;
}

.navBar a{
    margin-left: 3%;
    margin-right: 3%; 
    /* to do spread navbar items out */
}

.homeLink{
    display:inline;
    max-width: 10%;
    padding: 0%;
}
.homeLink img{
    position: absolute;
    top: 3%;
    left: 3%;
    display: inline;
    padding: 0%;
    max-width: 10%;
}

.pokeData{
    margin-left: 35%;
}

.pokeButton{
    margin-bottom: 3%;
    text-align: center;
    width: 36%;
    margin-left: 32%;
    
}

#pokeList{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

#pokemons h2{
    grid-column-start: 1;
    grid-column-end: 7;
}

.gridContainer{
    display: grid;
    grid-template-columns: 40% 40%;
    margin: 5% 10% 0% 20%;
    text-align: center;
    
}

.gridImage{
    display:grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 2fr 1fr;
    /* outline:solid white 5px; */

}
.mainContent{
    float: left;
    width:48%;
    margin-left: 30%;
    font-size: larger;
    border-radius: 4px;
    border: solid 1px rgb(51, 46, 46);
    box-shadow: 0 1px 0 1px black,
    inset 0 1px 0 1px black,
    0 0 0 1px black,
    inset 0 0 0 2px black;
    padding: 5%;
    
}
.secondaryContent{
    margin-left: 30%;
    
    
}

.pokemonImage img{
    width: 200%;
    padding:1%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    grid-area: 1 /1 /span 2;
    justify-self: right;
}

.evolutionImage{
    grid-row-start: 2;
    margin-top: 0%;
    justify-content: center;
}
.evolutionImage img{
    max-width: 100%;
    height: 85%;
    padding: 1%;
    margin-top: 0%;

}


.row{
    padding: 2%;
    justify-items: space-around;
}
.column{
    flex-direction: column-reverse;
    flex: 25%;
    max-width: 16%;
    padding: 0.4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    max-width: 70%;
    min-height: 5%;
}

.column a{
    margin-top: 8px;
    vertical-align: middle;
    max-width: 70%;
    min-height: 5%;
}




/* Type classes */

.normal{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: beige;
    color:black;
    
}

.fire{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: darkorange;
    color:white;
}

.water{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: blue;
    color:white;
    
}

.ice{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: lightblue;
    color:black;
    
}

.electric{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: gold;
    color:black;
    
}

.fighting{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: darkred;
    color:white;
    
}

.flying{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: skyblue;
    color:black;
    
}

.bug{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: yellowgreen;
    color:white;
    
}

.ghost{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: purple;
    color:white;
    
}

.rock{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: sienna;
    color:white;
    
}

.psychic{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: palevioletred;
    color:white;
    
}

.dragon{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: teal;
    color:white;
    
}

.poison{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: darkviolet;
    color:white;
    
}

.ground{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: burlywood;
    color:black;
    
}

.grass{
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2% 2% 2%;
    background-color: green;
    color:white;
}

